.navbar-toggle{
  float:left;
  padding-left:25px;
}
.nav-header{
  background-color: white;
  border: none;
}
.navbar{
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
}
.container > .navbar-header{
  background-color: white;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-left: 29px;
  padding-bottom: 20px;
  line-height: 20px;
}

.navbar-default .navbar-toggle {
  background-color: white;
  border-color: white;
}

.typeTitle{
  font-family: 'Raleway', sans-serif;
}
.typeText{
  font-family: 'Open Sans', sans-serif;
}
/*Hero*/
.bg-yellow{
  background-color: #f7b617;
  color: white;
}
.containerHero{
  background-image: url(../img/taxi.jpg);

}
.btn-hero{
  font-size: medium;
  font-weight: 600;
  margin-top:30px;
}

/*Pantalla Lg-md*/
@media (min-width: 768px) {
  .containerHero{
    height: 600px;
    background-position: center 91%;
    background-size: 100%;
    font-size: 3rem;
    }
    small{
      font-size: 60%;
    }
  .textHeroMobile{
    display: none;
  }
  .heroDesktop{
    margin-top: 11%;
    padding: 40px;
  }
  .heroDesktop input{
    background-color: #f7b617;
    width: 35%;
    border: 1.5px solid transparent;
    border-bottom-color: white;
  }
  .textHeroDesktop img{
    width: 18%;
  }
}
/*Pantalla xs-sm*/
@media (max-width: 767px) {
  /*Nav*/
  .logoNav{
    margin-left: 35%;
  }
  .containerHero{
    height: 600px;
    background-repeat: round;
    font-size: 4rem;
    }
  .heroMobile{
    margin-top: 25%;
    padding: 40px;
  }

  .textHeroDesktop{
    display: none;
  }
}
