.navbar-toggle{
  float:left;
  padding-left:25px;
}
.nav-header{
  background-color: white;
  border: none;
}
.navbar{
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
}
.container > .navbar-header{
  background-color: white;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-left: 29px;
  padding-bottom: 20px;
  line-height: 20px;
}

.navbar-default .navbar-toggle {
  background-color: white;
  border-color: white;
}

.typeTitle{
  font-family: 'Raleway', sans-serif;
}
.typeText{
  font-family: 'Open Sans', sans-serif;
}
/*Hero*/
.bg-yellow{
  background-color: #f7b617;
  color: white;
}
.containerHero{
  background-image: url(../img/taxi.jpg);

}
.btn-hero{
  font-size: medium;
  font-weight: 600;
  margin-top:30px;
}

/*Conductor*/
.containerConductor{
  background-image: url(../img/conduce.jpg);
}

.containerConductor{
  background-size: cover;
  background-position: center;
  font-size: 2.3rem;
  height: 100%;
}
.textConductor{
  margin-top: 100px;
  margin-bottom: 220px;
  margin-left: 25px;
}

.mapa{
  height: 400px;
  width: 550px;
}
.containerTarifa{
  margin-top: 7%;
  margin-bottom: 7%;
}
.containerTarifa input{
  margin:10px;
  width: 60%;
  border:1px solid white;
  padding: 8px;
  border-radius: 20px;
}
 .containerTarifa input[type="text"]::-webkit-input-placeholder{
  color: white;
}
/*Pantalla Lg-md*/
@media (min-width: 768px) {
  .containerHero{
    height: 600px;
    background-position: center 91%;
    background-size: 100%;
    font-size: 3rem;
    }
    small{
      font-size: 60%;
    }
  .textHeroMobile{
    display: none;
  }
  .heroDesktop{
    margin-top: 11%;
    padding: 40px;
  }
  .heroDesktop input{
    background-color: #f7b617;
    width: 35%;
    border: 1.5px solid transparent;
    border-bottom-color: white;
  }
  .textHeroDesktop img{
    width: 18%;
  }
  .containerMobile{
    padding: 40px 15px;
  }
  .containerMobile .col-md-10 {
    border: 1px solid white;
    padding: 57px;
    font-size: 1.3em;
  }
  .containerMobile .col-md-10 .typeTitle{
    font-size: 1.6em;
  }
  .containerMobile img{
    width: 85%;
  }
  .textMobileMb{
    display: none;
  }
  .containerConductor .col-md-4,
  .containerConductor .col-xs-12{
    background-color: black;
    opacity: 0.9;
    color: white;
  }

}
/*Pantalla xs-sm*/
@media (max-width: 767px) {
  /*Nav*/
  .logoNav{
    margin-left: 35%;
  }
  .containerHero{
    height: 600px;
    background-repeat: round;
    font-size: 4rem;
    }
  .heroMobile{
    margin-top: 25%;
    padding: 40px;
  }

  .textHeroDesktop{
    display: none;
  }
  .textMobile{
    display: none;
  }
  .containerMobile{
    padding: 50px 10px;
  }
  .containerMobile .col-xs-12{
    border: 1px solid white;
  }
  .containerMobile .textMobileMb{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom:10px;
    border:0px;
  }
  .containerConductor .col-md-4,
  .containerConductor .col-xs-12{
    background-color: black;
    opacity: 0.6;
    color: white;
  }
  .containerTarifa .mapa{
    display: none;
  }
}
